/*
	Application custom styles 
*/

/* Override styles */

body, header {
   min-width: 400px;  
   width: auto; 
}

/* Custom styles */

/* BS Carousel */
div.carousel-wrapper {
    width: 80%;
    margin: auto;
    background-color: white;
}
.carousel-inner > .item > img {
	width: 70%;
	margin: auto;
}

/* Navbar */
#navbar-title {
	margin-top: 10px;	
}
a.navbar-title-link, a:hover.navbar-title-link {
	color: #d7eeec;
	text-decoration: none;
}

/* Container */
.container-navbar-offset {
	margin-top: 70px;
}

.colored-div {
/* 	border: 2px solid #d7eeec; */
	text-align: center;
}