	<div class="container container-navbar-offset">

		<div class="row">
			<div class="col-xs-4 col-sm-3">

				<app-sidenav></app-sidenav>

			</div>

			<div class="col-xs-8 col-sm-9">
				<div class="row content">
					<h1 class="bold text-primary">Personal information</h1>
					<form (ngSubmit)="onSubmit()" #userForm="ngForm">
						<div class="row">
							<div class="col-xs-6">
							    <p class="form-text">First name*:</p>
                                <input type="text" name="firstName" class="form-control" required [(ngModel)]="user.firstName">
								<p class="form-text">Address*:</p>
								<input type="text" name="address" class="form-control">
								<p class="form-text">City*:</p>
								<input type="text" name="city" class="form-control">
								<p class="form-text">Email address*:</p>
								<input type="text" name="email" class="form-control"> <br>
								
     							<button type="submit" class="btn btn-success btn-small">Confirm</button>
     							<button type="reset" class="btn btn-danger btn-small">Clear</button>
     							
     							<a class="btn btn-info" routerLink="/product">Continue</a>
							</div>
							<div class="col-xs-6">
								<p class="form-text">Last name*:</p>
                                <input type="text" name="lastName" class="form-control" required [(ngModel)]="user.lastName">
								<p class="form-text">Pbr*:</p>
								<input type="text" name="pbr" class="form-control">
								<p class="form-text">Country*:</p>
								<input type="text" name="country" class="form-control">
								<p class="form-text">Telephone&nbsp;number*:</p>
								<input type="text" name="telNUmber" class="form-control">
							</div>
						</div>
					</form>
					<div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
				</div>
			</div>

		</div>
	</div>